/*====================================== CREDITS ==========================
figure 1:
    Photo by <a href="https://unsplash.com/@sebastian_unrau?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sebastian Unrau</a> on <a href="https://unsplash.com/s/photos/nature?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

figure 2:
    Photo by <a href="https://unsplash.com/@szmigieldesign?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lukasz Szmigiel</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
figure 3:
    Photo by <a href="https://unsplash.com/@silvestrimatteo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Silvestri Matteo</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
figure 4:
    Photo by <a href="https://unsplash.com/@editholic7?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kunal Shinde</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cards h1{
    font-size: 4rem;
    text-transform: capitalize;
    text-align: center;
    color: coral;
}
#cards h2,
#cards p{
    text-align: center;
    padding: 0.5rem;
}
#cards p{
    min-height: 80px;
}
figcaption div{
    padding: 1rem;
    display: grid;
    background: silver;
    grid-template-columns: repeat(4, 50px);
    justify-content: space-evenly;
    color: darkred;
}
#displayOfCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
    justify-content: center;
}
figure{
    margin: 1rem;
    background:lightsalmon;
    border-radius: 10px;
    border: 3px solid grey;
    box-shadow: 3px 3px 10px black;
    overflow: hidden;
}
figure .imgContainer{
    width: 100%;
    box-sizing: border-box;
}
figure .imgContainer img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}