/*====================================== CREDITS ==========================
figure 1:
    Photo by <a href="https://unsplash.com/@sebastian_unrau?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sebastian Unrau</a> on <a href="https://unsplash.com/s/photos/nature?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

figure 2:
    Photo by <a href="https://unsplash.com/@szmigieldesign?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lukasz Szmigiel</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
figure 3:
    Photo by <a href="https://unsplash.com/@silvestrimatteo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Silvestri Matteo</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
figure 4:
    Photo by <a href="https://unsplash.com/@editholic7?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kunal Shinde</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
*/

#displayOfCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
    justify-content: center;
}
figure .imgContainer{
    width: 100%;
    box-sizing: border-box;
}
