*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 4rem;
    text-transform: capitalize;
    text-align: center;
    color: coral;
    margin: 1rem;
}
h2{
    text-align: center;
    padding: 0.5rem;
}
p{
    text-align: center;
    padding: 0.5rem;
    min-height: 80px;
}
img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: block;
}
figure{
    margin: 1rem;
    background:lightsalmon;
    border-radius: 10px;
    border: 3px solid grey;
    box-shadow: 3px 3px 10px black;
    overflow: hidden;
}
.buttons{
    margin: 2rem;
    padding: 0.5rem 1rem;
    background: bisque;
    outline: 5px solid darkred;
    outline-offset: 5px;
    display: inline-block;
    transition: all 0.25s linear;
}
.buttons a{
    text-transform: capitalize;
    text-decoration: none;
    color: darkred;
}
.buttons:hover{
    background: lightsalmon;
    outline-offset: 1px;
}